body {
background-image: url("fond.jpg");
color: white;
}

h1 {
color: red;
}

li {
border-style: solid;
border-color: red;
margin: 35px 800px 35px 35px;
background-color: gray;
width: auto;
height: auto;
margin: auto;
}

a {
color: white;
} 

a:hover {
color: red;
}

img {
max-width: 100%;
height: auto;
}

strong {
color: white;
}

