body {
background-image: url("fond.jpg");
color: white;
}

h1 {
color: red;
}

li {
border-style: solid;
border-color: red;
margin: 35px 500px 35px 35px;
background-color: gray;
}

a {
color: white;
} 

a:hover {
color: red;
}
